## Lists

In [1]:
odds = [1, 3, 5, 7]

In [2]:
odds

[1, 3, 5, 7]

odds = list(range(1, 60, 2))

In [3]:
odds

[1, 3, 5, 7]

In [4]:
prices = []

In [5]:
type(prices)

list

In [6]:
prices = list()

In [7]:
prices

[]

In [8]:
temps = [10.5, 24, 41.6, 0.0, 26, 15]

In [9]:
temps

[10.5, 24, 41.6, 0.0, 26, 15]

In [10]:
words = ['hello', 'world', 'everyone']

In [11]:
words

['hello', 'world', 'everyone']

In [12]:
car_details = ['Toyota', 'RAV4', 2.2, 140000]

In [13]:
car_details

['Toyota', 'RAV4', 2.2, 140000]

In [14]:
everything = [odds, prices, words, car_details]

In [15]:
everything

[[1, 3, 5, 7],
 [],
 ['hello', 'world', 'everyone'],
 ['Toyota', 'RAV4', 2.2, 140000]]

In [16]:
everything[-1][-1]

140000

In [17]:
words

['hello', 'world', 'everyone']

In [18]:
words.append('whatsup?')

In [19]:
words

['hello', 'world', 'everyone', 'whatsup?']

In [20]:
everything

[[1, 3, 5, 7],
 [],
 ['hello', 'world', 'everyone', 'whatsup?'],
 ['Toyota', 'RAV4', 2.2, 140000]]

In [21]:
n = 1

In [22]:
n

1

In [23]:
n = 'crazy'

In [24]:
n

'crazy'

In [25]:
everything[-2]

['hello', 'world', 'everyone', 'whatsup?']

In [26]:
everything[-2].append('this is mad')

In [27]:
everything

[[1, 3, 5, 7],
 [],
 ['hello', 'world', 'everyone', 'whatsup?', 'this is mad'],
 ['Toyota', 'RAV4', 2.2, 140000]]

In [28]:
words

['hello', 'world', 'everyone', 'whatsup?', 'this is mad']

In [29]:
id(words)

139897491928008

In [30]:
id(everything[-2])

139897491928008

In [31]:
everything2 = [odds.copy(), prices.copy(), words.copy(), car_details.copy()]

In [32]:
id(everything2)

139897491985672

In [33]:
id(everything)

139897492055368

In [34]:
id(everything2[-2])

139897510190536

In [35]:
everything2

[[1, 3, 5, 7],
 [],
 ['hello', 'world', 'everyone', 'whatsup?', 'this is mad'],
 ['Toyota', 'RAV4', 2.2, 140000]]

In [36]:
everything2[-2].clear()

In [37]:
import pprint

In [38]:
pprint.pprint(everything2)

[[1, 3, 5, 7], [], [], ['Toyota', 'RAV4', 2.2, 140000]]

In [39]:
everything2

[[1, 3, 5, 7], [], [], ['Toyota', 'RAV4', 2.2, 140000]]

In [40]:
everything

[[1, 3, 5, 7],
 [],
 ['hello', 'world', 'everyone', 'whatsup?', 'this is mad'],
 ['Toyota', 'RAV4', 2.2, 140000]]

In [41]:
words

['hello', 'world', 'everyone', 'whatsup?', 'this is mad']

In [48]:
words.count()

TypeError: count() takes exactly one argument (0 given)

In [49]:
words.count?

In [50]:
words

['hello', 'world', 'everyone', 'whatsup?', 'this is mad']

In [51]:
words.append('hello')

In [52]:
words

['hello', 'world', 'everyone', 'whatsup?', 'this is mad', 'hello']

In [53]:
words.count('hello')

2

In [54]:
len(words)

6

In [55]:
words.extend(car_details)

In [56]:
words

['hello',
 'world',
 'everyone',
 'whatsup?',
 'this is mad',
 'hello',
 'Toyota',
 'RAV4',
 2.2,
 140000]

In [57]:
prices

[]

In [58]:
prices.append(12.50)

In [59]:
prices

[12.5]

In [60]:
prices.extend([3.99, 150, 2.95])

In [61]:
prices

[12.5, 3.99, 150, 2.95]

In [62]:
prices.index(3.99)

1

In [63]:
prices.extend([1.99, .99, 3.49])

In [64]:
prices

[12.5, 3.99, 150, 2.95, 1.99, 0.99, 3.49]

In [65]:
prices.index(3.99, 2)

ValueError: 3.99 is not in list

In [66]:
prices.index(3.99, 0, 4)

1

In [67]:
prices.index(1.99)

4

In [68]:
prices.index(1.99, 0, 4)

ValueError: 1.99 is not in list

In [69]:
prices

[12.5, 3.99, 150, 2.95, 1.99, 0.99, 3.49]

In [70]:
prices.insert(2, 'expensive')

In [71]:
prices

[12.5, 3.99, 'expensive', 150, 2.95, 1.99, 0.99, 3.49]

In [72]:
prices.insert(0, 0.95)

In [73]:
prices

[0.95, 12.5, 3.99, 'expensive', 150, 2.95, 1.99, 0.99, 3.49]

In [74]:
len(prices)

9

In [75]:
big_list = list(range(5_000_000))

In [76]:
len(big_list)

5000000

In [77]:
big_list[:10]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [78]:
big_list.insert(0, 'at the start')

In [79]:
big_list[:10]

['at the start', 0, 1, 2, 3, 4, 5, 6, 7, 8]

In [80]:
big_list.insert(438989, 'somewhere in the middle')

In [81]:
big_list[438980:438990]

[438979,
 438980,
 438981,
 438982,
 438983,
 438984,
 438985,
 438986,
 438987,
 'somewhere in the middle']

In [82]:
prices

[0.95, 12.5, 3.99, 'expensive', 150, 2.95, 1.99, 0.99, 3.49]

In [83]:
prices.pop()

3.49

In [84]:
prices

[0.95, 12.5, 3.99, 'expensive', 150, 2.95, 1.99, 0.99]

In [85]:
prices.pop(3)

'expensive'

In [86]:
prices

[0.95, 12.5, 3.99, 150, 2.95, 1.99, 0.99]

In [87]:
prices.remove(1.99)

In [88]:
prices

[0.95, 12.5, 3.99, 150, 2.95, 0.99]

In [89]:
prices.reverse()

In [90]:
prices

[0.99, 2.95, 150, 3.99, 12.5, 0.95]

In [91]:
list(reversed(prices))

[0.95, 12.5, 3.99, 150, 2.95, 0.99]

In [92]:
prices

[0.99, 2.95, 150, 3.99, 12.5, 0.95]

In [93]:
numbers = [1, 4, 6, 1, 4, 3, 7, 8, 9, 10, 2, 11]

In [94]:
numbers

[1, 4, 6, 1, 4, 3, 7, 8, 9, 10, 2, 11]

In [95]:
numbers.sort()

In [96]:
numbers

[1, 1, 2, 3, 4, 4, 6, 7, 8, 9, 10, 11]

In [97]:
numbers = [1, 4, 6, 1, 4, 3, 7, 8, 9, 10, 2, 11]

In [98]:
numbers

[1, 4, 6, 1, 4, 3, 7, 8, 9, 10, 2, 11]

In [99]:
numbers.sort(reverse=True)

In [100]:
numbers

[11, 10, 9, 8, 7, 6, 4, 4, 3, 2, 1, 1]

In [101]:
words

['hello',
 'world',
 'everyone',
 'whatsup?',
 'this is mad',
 'hello',
 'Toyota',
 'RAV4',
 2.2,
 140000]

In [102]:
lyrics = ['99', 'red', 'balloons', 'Balloons', 'I', 'swear']

In [103]:
lyrics

['99', 'red', 'balloons', 'Balloons', 'I', 'swear']

In [104]:
lyrics.sort()

In [105]:
lyrics

['99', 'Balloons', 'I', 'balloons', 'red', 'swear']

In [106]:
lyrics = ['99', 'red', 'balloons', 'Balloons', 'I', 'swear']

In [107]:
lyrics

['99', 'red', 'balloons', 'Balloons', 'I', 'swear']

In [108]:
sorted(lyrics)

['99', 'Balloons', 'I', 'balloons', 'red', 'swear']

In [109]:
lyrics

['99', 'red', 'balloons', 'Balloons', 'I', 'swear']

In [110]:
sorted(lyrics, reverse=True)

['swear', 'red', 'balloons', 'I', 'Balloons', '99']

In [111]:
words

['hello',
 'world',
 'everyone',
 'whatsup?',
 'this is mad',
 'hello',
 'Toyota',
 'RAV4',
 2.2,
 140000]

In [112]:
words.sort()

TypeError: '<' not supported between instances of 'float' and 'str'

In [113]:
words

['RAV4',
 'Toyota',
 'everyone',
 'hello',
 'hello',
 'this is mad',
 'whatsup?',
 'world',
 2.2,
 140000]

In [114]:
2.2

2.2

In [115]:
str(2.2)

'2.2'

In [116]:
words.sort(key=str)

In [117]:
words

[140000,
 2.2,
 'RAV4',
 'Toyota',
 'everyone',
 'hello',
 'hello',
 'this is mad',
 'whatsup?',
 'world']

In [118]:
help(list)

Help on class list in module builtins:

class list(object)
 |  list() -> new empty list
 |  list(iterable) -> new list initialized from iterable's items
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __delitem__(self, key, /)
 |      Delete self[key].
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(...)
 |      x.__getitem__(y) <==> x[y]
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iadd__(self, value, /)
 |      Implement self+=value.
 |
 |  __imul__(self, value, /)
 |      Implement self*=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.n
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(...)
 |      L.__reversed__() -- return a reverse iterator over the list
 |
 |  __rmul__(self, value, /)
 |      Return self*value.
 |
 |  __setitem__(self, key, value, /)
 |      Set self[key] to value.
 |
 |  __sizeof__(...)
 |      L.__sizeof__() -- size of L in memory, in bytes
 |
 |  append(...)
 |      L.append(object) -> None -- append object to end
 |
 |  clear(...)
 |      L.clear() -> None -- remove all items from L
 |
 |  copy(...)
 |      L.copy() -> list -- a shallow copy of L
 |
 |  count(...)
 |      L.count(value) -> integer -- return number of occurrences of value
 |
 |  extend(...)
 |      L.extend(iterable) -> None -- extend list by appending elements from the iterable
 |
 |  index(...)
 |      L.index(value, [start, [stop]]) -> integer -- return first index of value.
 |      Raises ValueError if the value is not present.
 |
 |  insert(...)
 |      L.insert(index, object) -- insert object before index
 |
 |  pop(...)
 |      L.pop([index]) -> item -- remove and return item at index (default last).
 |      Raises IndexError if list is empty or index is out of range.
 |
 |  remove(...)
 |      L.remove(value) -> None -- remove first occurrence of value.
 |      Raises ValueError if the value is not present.
 |
 |  reverse(...)
 |      L.reverse() -- reverse *IN PLACE*
 |
 |  sort(...)
 |      L.sort(key=None, reverse=False) -> None -- stable sort *IN PLACE*
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

## Exercise

In [4]:
phrase = "Don't panic!"

In [5]:
phrase

"Don't panic!"

In [6]:
plist = list(phrase)

In [7]:
plist

['D', 'o', 'n', "'", 't', ' ', 'p', 'a', 'n', 'i', 'c', '!']

In [10]:
# This is where your code goes.

# Using ONLY the list methods (you cannot access the list items
# using [ and ] - you must use the methods).

# Convert the phrase "Don't panic!" into the phrase "on tap".

plist.clear()
plist.insert(0, 'on tap')






# Send your notebook to the real Paul.  All the rest are fakes.  Inferior, too.

In [11]:
new_phrase = ''.join(plist)
print(plist)
print(new_phrase)

['on tap']
on tap

In [12]:
''.join(['a', 'b', 'c'])

'abc'

In [126]:
'****'.join(['a', 'b', 'c'])

'a****b****c'

NameError: name 'plist' is not defined